body{
    background-color: dimgrey;
    text-align: center;
}
table{
    margin-top: 30px;
    color: darkred;
    border-radius: 10px;
    border-color: black;
    padding: 7px;
    background-color: white;
    
}
    
